* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", "Roboto", "Helvetica Neue", Helvetica !important;
}

html {
    background-color: #111;
    /* filter: brightness(98%); */
    background-image: url("https://images.unsplash.com/photo-1639431682289-72b9ebb75895?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80");
    background-repeat: repeat;
    background-size: cover;
    color: white;
}

body {
    margin-top: 50px;
}
